<%= image_tag("border.png", :class => "", :style => "width:33%") %><%= image_tag("border_flipped.png", :class => "", :style => "width:33%") %><%= image_tag("border.png", :class => "", :style => "width:34%") %>

<p class="londrina-outline"  style="margin-bottom:0px;">Meghan <span class="neucha">and</span> Daniel</p>

<p class="poiret margin-top-20">June 28th, 2014</p>

<div class="row" style="display:none;">
	<div class="col-md-4 col-md-offset-4">
		<p class="neucha pull-left" style="margin-left:50px">Evans</p>
		<p class="neucha pull-right" style="margin-right:20px">Silberman</p>
</div>
</div>

<p class="amatic-sc">Rockyneck State Park, Niantic, CT<br>at 5Pm</p>


<p class="neucha margin-top-20 font-size-36"><%= @days_to_go %> days to go</p>
