<h1>Rocky Neck State Park</h1>
<p class="lead" style="padding-bottom:0">Niantic, CT</p>
<div class="row">
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-9 col-md-offset-3">
				<%= link_to('Home', root_path, :class => 'btn btn-transparent btn-lg width-200') %>
			</div>
			<div class="col-md-9 col-md-offset-3 margin-top-20">
				<%= link_to('Gallery', gallery_path, :class => 'btn btn-transparent btn-lg width-200') %>
			</div>
			<div class="col-md-9 col-md-offset-3  margin-top-20">
				<%= link_to('Wedding Party', weddingparty_path, :class => 'btn btn-transparent btn-lg width-200') %>
			</div>
		</div>
	</div>
	<div class="col-md-6 center">
  <img style="border: 3px solid #ddd; border-radius:6px;" src="http://maps.google.com/maps/api/staticmap?size=620x450&maptype=roadmap&sensor=false&markers=color:blue|label:A|Rocky Neck State Park,Niantic,CT" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img>
  </div>

</div>

