<div class="info-box-links">
	<a class="" href="<%= root_path %>">Home</a> |
	<a class="here" href="#">Venue</a> |
	<a class="" href="<%= weddingparty_path %>">Wedding Party</a> |
	<a class="" target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=221890547&pwsurl=">Registry</a>
</div>

<div class="info-box-overlay-center">
	<div class="row">
		<div class="lead col-md-12" style="margin-bottom:10px;">Hotel Information</div>
	</div>
	<div class="row">
		<div class="col-md-12 helvetica-neue">A block of rooms is reserved at Sleep Inn and Suites in East Lyme from June 28th-June 29th for $125 a night under Meghan Evans.</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-6">
			<span class="hotel-name hotel-name-large">Sleep Inn Suites</span><br><span class="helvetica-neue">860.739.1994<br>Ten minutes from park, Exit 74 off I-95<br>5 King Arthur Dr., East Lyme, CT</span>
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-12 hotel-name hotel-name-large">Other accomodations</div>
	</div>
	<div class="row" style="margin-top:5px;">
		<div class="col-md-3">
			<span class="hotel-name">Spring Hill Suites by Marriott</span><br><span class="helvetica-neue">Fifteen minutes from park<br>Exit 82A off I-95<br>860.439.0151<br>401 North Frontage Road<br>Waterford, CT</span>
		</div>
		<div class="col-md-3">
			<span class="hotel-name">America's Best Value Inn</span><br><span class="helvetica-neue">Ten minutes from park<br>Exit 74 off I-95<br>860.739.5462<br>256 Flanders Road<br>Niantic, CT</span>
		</div>
		<div class="col-md-3">
			<span class="hotel-name">The Inn at Harbor Hill Marina</span><br><span class="helvetica-neue">Eight minutes from park<br>860.739.0331<br>60 Grand Street<br>Niantic, CT</span>
		</div>
		<div class="col-md-3">
			<span class="hotel-name">The Niantic Inn</span><br><span class="helvetica-neue">(860) 739-5451 <br>345 Main Street<br>Niantic, CT</span>
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-12 helvetica-neue">
			RV and tent camping are also available within Rocky Neck state park. All necessary information is <a href="http://www.ct.gov/deep/cwp/view.asp?a=2716&q=325036&deepNav_GID=1621" target="_blank">here</a>.<br>
			Additionally, cabins are <a href="http://www.ct.gov/deep/cwp/view.asp?a=2716&q=514714&deepNav_GID=1650" target="_blank">available to rent on site</a>.
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-12 hotel-name hotel-name-large">Sunday Brunch</div>
	</div>
	<div class="row" style="margin-top:5px;">
		<div class="col-md-12">
			<span class="helvetica-neue">Join us for brunch on Sunday morning at</span><br>
			<span class="hotel-name">Giant’s Neck Beach</span><br>
			<span class="helvetica-neue">41 West Pattagansett Road, Niantic, CT</span>
		</div>
	</div>
</div>

<div class="info-box-overlay">
	<div class="info-box-overlay-inner">
		<div class="amatic-sc margin-top-70">Rocky Neck State Park</div>
		<div class="amatic-sc" style="margin-top:-10px;">Niantic, CT</div>
		<div class="amatic-sc" style="margin-top:-10px;">5PM</div>
		<img style="border-radius:6px;" src="http://maps.google.com/maps/api/staticmap?size=280x280&maptype=roadmap&sensor=false&markers=color:blue|label:A|Rocky Neck State Park,Niantic,CT" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img>
		<div class="amatic-sc">244 W Main St<br>Niantic, CT  06357</div>
	</div>
</div>

