<div class="info-box-links">
	<a class="" href="<%= root_path %>">Home</a> |
	<a class="here" href="#">Venue</a> |
	<a class="" href="<%= weddingparty_path %>">Wedding Party</a> |
	<a class="" target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=221890547&pwsurl=">Registry</a>
</div>

<div class="info-box-overlay">
	<div class="info-box-overlay-inner">
		<div class="amatic-sc margin-top-70">Rocky Neck State Park</div>
		<div class="amatic-sc" style="margin-top:-10px;">Niantic, CT</div>
		<div class="amatic-sc" style="margin-top:-10px;">5PM</div>
		<img style="border-radius:6px;" src="http://maps.google.com/maps/api/staticmap?size=280x280&maptype=roadmap&sensor=false&markers=color:blue|label:A|Rocky Neck State Park,Niantic,CT" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"></img>
	</div>
</div>

