@import "bootstrap";

body {
  color: #fff;
  font-weight: 100;
  font-family: "Poiret One", Arial, Helvetica, sans-serif;
}

h1 {
	/* font-weight: 100 !important; */
	text-align: center;
	font-size: 56px;
	text-transform: uppercase;
	font-weight: 100;
	margin-top:20px;
	font-family: "Poiret One", Arial, Helvetica, sans-serif;
}

p {
	text-align: center;
}
.poiret {
	font-family: "Poiret One", Arial, Helvetica, sans-serif;
	font-size: 42px;
}
.shadows-into-light {
	font-family: "Shadows Into Light Two", Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}
.neucha {
	font-family: "Neucha", Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.amatic-sc {
	font-family: "Amatic SC", Arial, Helvetica, sans-serif;
	font-size: 47px !important;
	text-transform: uppercase;
}
.londrina-outline {
	font-family: "Londrina Outline", Arial, Helvetica, sans-serif;
	font-size: 80px;
	text-transform: uppercase;

    transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
}
.font-size-36 {
	font-size: 36px;
}
.font-size-24 {
	font-size: 24px;
}
a {
	color: #3498DB;
}
a:hover {
	color: #2980B9;
	text-decoration: none;
}

.lead {
	font-weight: 100;
	font-size: 36px;
	text-transform: uppercase;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-60 {
	margin-top: 60px;
}
.margin-top-70 {
	margin-top: 70px;
}
.margin-top-80 {
	margin-top: 80px;
}
.margin-top-100 {
	margin-top: 100px;
}
.width-200 {
	width: 200px;
}
.btn-transparent {
	background-color: #abc7b9;
	/* background-image: image-url("border.png"); */
	border-color: #fff !important;
	text-transform: uppercase;
	color: #fff;
}
.btn-transparent:hover {
	background-color: #92b4a7;
	color: #fff;
}
.center {
	text-align: center;
}
.img-rounded {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px !important;
}
@media screen and(max-width: 981px) {
  body {
    padding-top: 0px;
  }
  h1 {
	  font-size: 90px;
	  font-weight: 300;
  }
  .lead {
	  font-weight: 300;
	  font-size: 50px;
  }
}
.img-rounded {
	/* border: 2px solid #abc7b9; */
	width:100%;
}
.footer {
	height: 60px;
}
.text-overlay {
	margin-top: -80px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}
.center {
	text-align: center;
}

.link-block {
	display: inline-block !important;
}
.uppercase {
	text-transform: uppercase;
}

.info-box-overlay {
	position: fixed;
	top: 0;
	right: 50px;
	height: 100%;
	width: 320px;
	background-color: #abc7b9;
	opacity: .85;
	img {
		opacity: 1;
	}
}
.info-box-overlay-inner {
	padding: 20px;
	padding-top: 0;
	div {
		text-align: left;
	}
}
.info-box-links {
	position: fixed;
	top: 20px;
	width: 100%;
	padding:20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333;
	opacity: .8;
	color: #fff;
	font-size: 24px;
	a {
		text-transform: uppercase;
		font-size: 24px;
		color: #fff44f;
	}
}
.tall {
	transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
}
.home-image {
	width: 100%;
	height: 100%;
}
.here {
	color: #fff !important;
}